In [1]:
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from datetime import datetime, timedelta
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from datetime import datetime, timedelta
from selenium import webdriver

In [2]:
driver =webdriver.Chrome()
url="https://app.cpcbccr.com/AQI_India/"
driver.get(url)

In [3]:
def state(stat):
    # Wait for the dropdown to load
    dropdown = WebDriverWait(driver, 10).until(
        EC.presence_of_element_located((By.ID, 'states'))
    )

    # Click on the dropdown to open the options
    dropdown.click()

    # Locate the "Uttarakhand" option and click it
    uttrakhand_option = WebDriverWait(driver, 100).until(
        EC.presence_of_element_located((By.XPATH, "//option[@value='Uttarakhand']"))
    )
    uttrakhand_option.click()

In [4]:
def city(cit):
    # Wait for the dropdown to load
    dropdown = WebDriverWait(driver, 10).until(
        EC.presence_of_element_located((By.ID, 'cities'))
    )

    # Click on the dropdown to open the options
    dropdown.click()

    # Locate the "Uttarakhand" option and click it
    dehradun_option = WebDriverWait(driver, 100).until(
        EC.presence_of_element_located((By.XPATH, "//option[@value='Dehradun']"))
    )
    dehradun_option.click()

In [5]:
def stations(station):
    # Wait for the dropdown to load
    dropdown = WebDriverWait(driver, 10).until(
        EC.presence_of_element_located((By.ID, 'stations'))
    )

    # Click on the dropdown to open the options
    dropdown.click()

    # Locate the "Uttarakhand" option and click it
    dehradun_option = WebDriverWait(driver, 100).until(
        EC.presence_of_element_located((By.XPATH, "//option[@value='site_5594']"))
    )
    dehradun_option.click()

In [6]:
state("Uttarakhand")
city("Dehradun")
stations("site_5594")

In [342]:

rows = driver.find_elements(By.CLASS_NAME, 'metrics-row')
c=0
# Loop through the rows to find the desired data
for row in rows:
    element_name = row.find_element(By.CLASS_NAME, 'element-name').text
    if element_name == 'PM2.5':
        avg_value = row.find_element(By.CLASS_NAME, 'avg-value').text
        min_value = row.find_element(By.CLASS_NAME, 'min-value').text
        max_value = row.find_element(By.CLASS_NAME, 'max-value').text
        print(f"Element Name: {element_name}, Avg Value: {avg_value}, Min Value: {min_value}, Max Value: {max_value}")
    if element_name == 'PM10':
        avg_value = row.find_element(By.CLASS_NAME, 'avg-value').text
        min_value = row.find_element(By.CLASS_NAME, 'min-value').text
        max_value = row.find_element(By.CLASS_NAME, 'max-value').text
        print(f"Element Name: {element_name}, Avg Value: {avg_value}, Min Value: {min_value}, Max Value: {max_value}")
    if element_name == 'NO2':
        avg_value = row.find_element(By.CLASS_NAME, 'avg-value').text
        min_value = row.find_element(By.CLASS_NAME, 'min-value').text
        max_value = row.find_element(By.CLASS_NAME, 'max-value').text
        print(f"Element Name: {element_name}, Avg Value: {avg_value}, Min Value: {min_value}, Max Value: {max_value}")
    if element_name == 'SO2':
        avg_value = row.find_element(By.CLASS_NAME, 'avg-value').text
        min_value = row.find_element(By.CLASS_NAME, 'min-value').text
        max_value = row.find_element(By.CLASS_NAME, 'max-value').text
        print(f"Element Name: {element_name}, Avg Value: {avg_value}, Min Value: {min_value}, Max Value: {max_value}")
    if element_name == 'CO':
        avg_value = row.find_element(By.CLASS_NAME, 'avg-value').text
        min_value = row.find_element(By.CLASS_NAME, 'min-value').text
        max_value = row.find_element(By.CLASS_NAME, 'max-value').text
        print(f"Element Name: {element_name}, Avg Value: {avg_value}, Min Value: {min_value}, Max Value: {max_value}")
    if element_name == 'OZONE':
        avg_value = row.find_element(By.CLASS_NAME, 'avg-value').text
        min_value = row.find_element(By.CLASS_NAME, 'min-value').text
        max_value = row.find_element(By.CLASS_NAME, 'max-value').text
        print(f"Element Name: {element_name}, Avg Value: {avg_value}, Min Value: {min_value}, Max Value: {max_value}")
    c+=1
    if c==7:
        break

Element Name: PM2.5, Avg Value: 169, Min Value: 52, Max Value: 253
Element Name: PM10, Avg Value: 158, Min Value: 107, Max Value: 200
Element Name: NO2, Avg Value: 46, Min Value: 18, Max Value: 80
Element Name: SO2, Avg Value: 8, Min Value: 5, Max Value: 13
Element Name: CO, Avg Value: , Min Value: -, Max Value: -
Element Name: OZONE, Avg Value: 6, Min Value: 2, Max Value: 28

In [35]:
date_input = driver.find_element(By.CSS_SELECTOR, '.input-group.date input[type="text"]')
date_input.click()   # Focus on the input field

date_input.clear()
date_input.send_keys('02/07/2023')
date_input.send_keys(Keys.ENTER)

In [7]:
def fgh(c):
    global x
    global i
    date_input = driver.find_element(By.CSS_SELECTOR, '.input-group.date input[type="text"]')
    date_input.click()   # Focus on the input field
    print(45)
    date_input.clear()
    if c<10:
        x='0'
    else:
        x=''
    x=x+str(c+1)+'/02/2023'
    print(x)
    y['DATE'][i%10]=x
    date_input.send_keys(x)
    date_input.send_keys(Keys.ENTER)
    date_input.send_keys(Keys.ENTER)

In [354]:
fgh(2)

45
03/02/2023

In [12]:
def abcd():
    global i
    c=0
    day_elements = WebDriverWait(driver, 10).until(EC.presence_of_all_elements_located((By.CLASS_NAME, 'metrics-row')))
    rows = driver.find_elements(By.CLASS_NAME, 'metrics-row')
    # Loop through the rows to find the desired data
    for row in rows:
        element_name = row.find_element(By.CLASS_NAME, 'element-name').text
        if element_name == 'PM2.5':
            avg_value = row.find_element(By.CLASS_NAME, 'avg-value').text
            min_value = row.find_element(By.CLASS_NAME, 'min-value').text
            max_value = row.find_element(By.CLASS_NAME, 'max-value').text
            print(f"Element Name: {element_name}, Avg Value: {avg_value}, Min Value: {min_value}, Max Value: {max_value}")
            y[element_name][i%10]=avg_value
        if element_name == 'PM10':
            avg_value = row.find_element(By.CLASS_NAME, 'avg-value').text
            min_value = row.find_element(By.CLASS_NAME, 'min-value').text
            max_value = row.find_element(By.CLASS_NAME, 'max-value').text
            print(f"Element Name: {element_name}, Avg Value: {avg_value}, Min Value: {min_value}, Max Value: {max_value}")
            y[element_name][i%10]=avg_value
        if element_name == 'NO2':
            avg_value = row.find_element(By.CLASS_NAME, 'avg-value').text
            min_value = row.find_element(By.CLASS_NAME, 'min-value').text
            max_value = row.find_element(By.CLASS_NAME, 'max-value').text
            print(f"Element Name: {element_name}, Avg Value: {avg_value}, Min Value: {min_value}, Max Value: {max_value}")
            y[element_name][i%10]=avg_value
        if element_name == 'SO2':
            avg_value = row.find_element(By.CLASS_NAME, 'avg-value').text
            min_value = row.find_element(By.CLASS_NAME, 'min-value').text
            max_value = row.find_element(By.CLASS_NAME, 'max-value').text
            print(f"Element Name: {element_name}, Avg Value: {avg_value}, Min Value: {min_value}, Max Value: {max_value}")
            y[element_name][i%10]=avg_value
        if element_name == 'CO':
            avg_value = row.find_element(By.CLASS_NAME, 'avg-value').text
            min_value = row.find_element(By.CLASS_NAME, 'min-value').text
            max_value = row.find_element(By.CLASS_NAME, 'max-value').text
            print(f"Element Name: {element_name}, Avg Value: {avg_value}, Min Value: {min_value}, Max Value: {max_value}")
            y[element_name][i%10]=avg_value
        if element_name == 'OZONE':
            avg_value = row.find_element(By.CLASS_NAME, 'avg-value').text
            min_value = row.find_element(By.CLASS_NAME, 'min-value').text
            max_value = row.find_element(By.CLASS_NAME, 'max-value').text
            print(f"Element Name: {element_name}, Avg Value: {avg_value}, Min Value: {min_value}, Max Value: {max_value}")
            y[element_name][i%10]=avg_value
        c+=1
        if c==7:
            break

In [13]:
y={'DATE':[0]*10,'PM2.5':[0]*10, 'PM10':[0]*10, 'NO2':[0]*10, 'SO2':[0]*10, 'CO':[0]*10, 'OZONE':[0]*10, 'AQI':[0]*10, 'CONDITION':[0]*10}

In [14]:
def xyz():
    desired_element_names = ['PM2.5', 'PM10', 'NO2', 'SO2', 'CO', 'OZONE']
    # Wait for the metrics rows to be present
    wait = WebDriverWait(driver, 10)
    rows = driver.find_elements(By.CLASS_NAME, 'metrics-row')
    c = 0
    global i
    for row in rows:
        try:
            element_name = row.find_element(By.CLASS_NAME, 'element-name').text
            if element_name in desired_element_names:
                #avg_value=''
                #y[element_name].append(row.find_element(By.CLASS_NAME, 'avg-value').text)
                avg_value = row.find_element(By.CLASS_NAME, 'avg-value').text
                y[element_name][i]=avg_value
                #min_value = row.find_element(By.CLASS_NAME, 'min-value').text
                #max_value = row.find_element(By.CLASS_NAME, 'max-value').text
                #print(f"Element Name: {element_name}, Avg Value: {avg_value}, Min Value: {min_value}, Max Value: {max_value}")

                c += 1
                if c == 6:
                    break
        except Exception as e:
            print("An error occurred:", e)
    tspan_elements = driver.find_elements(By.TAG_NAME, 'tspan')
    if tspan_elements:
        
        c=tspan_elements[0].text
        aqi=tspan_elements[1].text
        y['AQI'][i%10]=aqi
        y['CONDITION'][i%10]=c
        print(c, aqi)

In [96]:
xyz()

Element Name: PM2.5, Avg Value: 56, Min Value: 30, Max Value: 75
Element Name: PM10, Avg Value: 88, Min Value: 41, Max Value: 123
Element Name: NO2, Avg Value: 15, Min Value: 9, Max Value: 21
Element Name: SO2, Avg Value: 6, Min Value: 2, Max Value: 10
Element Name: CO, Avg Value: 66, Min Value: 50, Max Value: 92
Element Name: OZONE, Avg Value: 5, Min Value: 4, Max Value: 8

In [16]:
x=''
for i in range(1,10):
    fgh(i)
    time.sleep(10)
    print()
    time.sleep(15)
    xyz()
    print("done")

45
02/02/2023

Satisfactory 97
done
45
03/02/2023

Moderate 106
done
45
04/02/2023


done
45
05/02/2023

done
45
06/02/2023

done
45
07/02/2023

done
45
08/02/2023


done
45
09/02/2023

Satisfactory 96
done
45
010/02/2023

Satisfactory 91
done

In [385]:
for i in y:
    print(len(y[i]))
    print(y[i])

10
['01/02/2023', '02/02/2023', '03/02/2023', '04/02/2023', '05/02/2023', '06/02/2023', '07/02/2023', '08/02/2023', '09/02/2023', '010/02/2023']
10
['', '44', '68', '', 0, 0, 0, '', '47', '44']
10
['', '97', '102', '', 0, 0, 0, '', '96', '90']
10
['', '4', '3', '', 0, 0, 0, '', '1', '2']
10
['', '1', '1', '', 0, 0, 0, 0, '', '']
10
['33', '56', '68', '', 0, 0, 0, '54', '53', '21']
10
['54', '32', '26', '', 0, 0, 0, '62', '40', '49']
10
['', '97', '102', '', 0, 0, 0, '', '96', '90']
10
['', 'Satisfactory', 'Moderate', '', 0, 0, 0, '', 'Satisfactory', 'Satisfactory']

In [255]:
for i in y:
    print(len(y[i]))
    if len(y[i])<23:
        y[i].append('')

23
23
23
23
22
23
23
23
23

In [391]:
import pandas as pd
df1=pd.DataFrame(y)
df1

          DATE PM2.5 PM10 NO2 SO2  CO OZONE  AQI     CONDITION
0   01/02/2023                     33    54
1   02/02/2023    44   97   4   1  56    32   97  Satisfactory
2   03/02/2023    68  102   3   1  68    26  102      Moderate
3   04/02/2023
4   05/02/2023     0    0   0   0   0     0    0             0
5   06/02/2023     0    0   0   0   0     0    0             0
6   07/02/2023     0    0   0   0   0     0    0             0
7   08/02/2023                  0  54    62
8   09/02/2023    47   96   1      53    40   96  Satisfactory
9  010/02/2023    44   90   2      21    49   90  Satisfactory

In [400]:
indices_to_remove = [3,4,5,6]
df2=df1
# Remove the rows with the specified indices
df_filtered = df2.drop(indices_to_remove)
df_filtered
df1=df_filtered
df1

          DATE PM2.5 PM10 NO2 SO2  CO OZONE  AQI     CONDITION
0   01/02/2023                     33    54
1   02/02/2023    44   97   4   1  56    32   97  Satisfactory
2   03/02/2023    68  102   3   1  68    26  102      Moderate
7   08/02/2023                  0  54    62
8   09/02/2023    47   96   1      53    40   96  Satisfactory
9  010/02/2023    44   90   2      21    49   90  Satisfactory

In [281]:
df1=df1.iloc[:12]
df1

           DATE PM2.5 PM10 NO2 SO2  CO OZONE  AQI     CONDITION
0    02/02/2023                     64    29
1    03/02/2023    48   92   4   1  67    32   92  Satisfactory
2    04/02/2023    76  114   3   1  72    42  114      Moderate
3    09/02/2023                     68    44
4   010/02/2023    44   91   2      21    50   91  Satisfactory
5    11/02/2023    43   89   2      21    55   89  Satisfactory
6    12/02/2023                     29    53
7    13/02/2023    30   85   1      17    51   85  Satisfactory
8    14/02/2023    31   86   2      22    60   86  Satisfactory
9    15/02/2023    57  112   2      35    59  112      Moderate
10   16/02/2023    57  131   2      43    87  131      Moderate
11   17/02/2023    80  107   2      20    79

In [283]:
df1=df1.append(df2, ignore_index=True)
df1

C:\Users\vidus\AppData\Local\Temp\ipykernel_5212\780229644.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1=df1.append(df2, ignore_index=True)

           DATE PM2.5 PM10  NO2  SO2   CO OZONE  AQI     CONDITION
0    02/02/2023                        64    29
1    03/02/2023    48   92    4    1   67    32   92  Satisfactory
2    04/02/2023    76  114    3    1   72    42  114      Moderate
3    09/02/2023                        68    44
4   010/02/2023    44   91    2        21    50   91  Satisfactory
5    11/02/2023    43   89    2        21    55   89  Satisfactory
6    12/02/2023                        29    53
7    13/02/2023    30   85    1        17    51   85  Satisfactory
8    14/02/2023    31   86    2        22    60   86  Satisfactory
9    15/02/2023    57  112    2        35    59  112      Moderate
10   16/02/2023    57  131    2        43    87  131      Moderate
11   17/02/2023    80  107    2        20    79
12   19/02/2023        NaN  NaN  NaN  NaN   NaN
13   20/02/2023                  NaN   41    79
14   21/02/2023    80  127    2    1   35    66  127      Moderate
15   22/02/2023    62  113    3    1   34    90  113      Moderate
16   23/02/2023    33   63    3    1   36    38   63  Satisfactory
17   24/02/2023    33   75    3    1   25    62   75  Satisfactory
18   25/02/2023
19   26/02/2023                        37    72
20   27/02/2023    57  104    2    2   38    85  104      Moderate
21   28/02/2023    53  105    2    1   33    68  105      Moderate

In [280]:
l=['PM10', 'NO2', 'SO2', 'CO', 'OZONE']
for col in l:
    df2[col] = df2[col].shift(1)

print(df2)

          DATE PM2.5 PM10  NO2  SO2   CO OZONE  AQI     CONDITION
13  19/02/2023        NaN  NaN  NaN  NaN   NaN
14  20/02/2023                  NaN   41    79
15  21/02/2023    80  127    2    1   35    66  127      Moderate
16  22/02/2023    62  113    3    1   34    90  113      Moderate
17  23/02/2023    33   63    3    1   36    38   63  Satisfactory
18  24/02/2023    33   75    3    1   25    62   75  Satisfactory
19  25/02/2023
20  26/02/2023                        37    72
21  27/02/2023    57  104    2    2   38    85  104      Moderate
22  28/02/2023    53  105    2    1   33    68  105      Moderate

C:\Users\vidus\AppData\Local\Temp\ipykernel_5212\2227541939.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col] = df2[col].shift(1)

In [272]:
df2 = df2.iloc[1:]
df2

          DATE PM2.5 PM10 NO2 SO2  CO OZONE  AQI CONDITION
20  26/02/2023                  2  37    72
21  27/02/2023    57  104   2   1  38    85  104  Moderate
22  28/02/2023    53  105   2      33    68  105  Moderate

In [405]:
df = df.append(df1, ignore_index=True)

C:\Users\vidus\AppData\Local\Temp\ipykernel_5212\3979134763.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df1, ignore_index=True)

In [86]:
wait = WebDriverWait(driver, 10)
rows = wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, 'metrics-row')))

c = 0

for row in rows:
    try:
        element_name = row.find_element(By.CLASS_NAME, 'element-name').text
        if element_name in desired_element_names:
            avg_value = row.find_element(By.CLASS_NAME, 'avg-value').text
            min_value = row.find_element(By.CLASS_NAME, 'min-value').text
            max_value = row.find_element(By.CLASS_NAME, 'max-value').text
            print(f"Element Name: {element_name}, Avg Value: {avg_value}, Min Value: {min_value}, Max Value: {max_value}")

            c += 1
            if c == 6:
                break
    except Exception as e:
        print("An error occurred:", e)

Element Name: PM2.5, Avg Value: 52, Min Value: 33, Max Value: 77
Element Name: PM10, Avg Value: 78, Min Value: 51, Max Value: 116
Element Name: NO2, Avg Value: 18, Min Value: 11, Max Value: 34
Element Name: SO2, Avg Value: 6, Min Value: 5, Max Value: 8
Element Name: CO, Avg Value: 60, Min Value: 55, Max Value: 80
Element Name: OZONE, Avg Value: 12, Min Value: 4, Max Value: 16

In [407]:
df.to_csv("Jan.csv", index=False)

In [406]:
df

           DATE  PM2.5   PM10  NO2  SO2    CO OZONE    AQI     CONDITION
0    01/01/2023  175.0  126.0  4.0  2.0  41.0  27.0  175.0      Moderate
1    02/01/2023  272.0  147.0  3.0  1.0  48.0  28.0  272.0          Poor
2    03/01/2023  174.0  107.0  3.0  2.0  42.0  25.0  174.0      Moderate
3    04/01/2023  143.0   96.0  2.0  1.0  35.0  26.0  143.0      Moderate
4    06/01/2023    NaN    NaN  NaN  NaN  56.0  23.0    NaN           NaN
5    07/01/2023    NaN    NaN  NaN  NaN   NaN   NaN    NaN           NaN
6    11/01/2023    NaN    NaN  NaN  NaN  70.0  27.0    NaN           NaN
7    12/01/2023  251.0  135.0  6.0  2.0  83.0  16.0  251.0          Poor
8    13/01/2023    NaN    NaN  NaN  NaN   NaN   NaN    NaN           NaN
9    15/01/2023    NaN    NaN  NaN  NaN  61.0  20.0    NaN           NaN
10   16/01/2023   91.0  126.0  3.0  1.0  48.0  35.0  126.0      Moderate
11   17/01/2023    NaN    NaN  NaN  NaN   NaN   NaN    NaN           NaN
12   24/01/2023    NaN    NaN  NaN  NaN  57.0  30.0    NaN           NaN
13   25/01/2023    NaN    NaN  NaN  NaN  53.0  31.0    NaN           NaN
14   26/01/2023   34.0   49.0  2.0  NaN  55.0  33.0   55.0  Satisfactory
15   27/01/2023   52.0   77.0  2.0  NaN  63.0  16.0   77.0  Satisfactory
16   01/02/2023                            33    54
17   02/02/2023     44     97    4    1    56    32     97  Satisfactory
18   03/02/2023     68    102    3    1    68    26    102      Moderate
19   08/02/2023                       0    54    62
20   09/02/2023     47     96    1         53    40     96  Satisfactory
21  010/02/2023     44     90    2         21    49     90  Satisfactory

In [ ]:
df=pd.read_csv("Jan.csv")